ApplicationDMS/src/main/resources/schemas/persitenceUnit.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PersitenceUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="URL"/>
        <xs:element type="xs:string" name="USERNANE"/>
        <xs:element type="xs:string" name="PASSWORD"/>
        <xs:element type="xs:string" name="JDBCDRIVER"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>